@layout('layout/main')

@section('home')
  <form action="{{ route('posts.store',{id: auth.user.id }) }}" method="POST">

    <div>
      @!form.legend({ name: 'Título'})
      @!form.input({ name: 'title', type: 'text' })
    </div>

    <div>
      @!form.legend({ name: 'Conteúdo'})
      @!form.input({ name: 'content', type: 'text' })
    </div>

    <div>
      @form.button()
        Salvar
      @end
    </div>


  </form>

@endsection