@layout('layout/main')

@section('home')


  <div>
    <p>Título:</p>
    {{ post.title }}
  </div>

  <div>
    <p>Conteúdo:</p>
    {{ post.content }}
  </div>

  <div>
    Usuário:{{ post.user.email }}
  </div>
@end